# =============== #
#   TRASH ITEMS	  #
# =============== #
Client/obj/
Client/bin/
Server/obj/
Server/bin/
CommunicatorCore/obj
CommunicatorCore/bin
testClient/
Json80r3/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.exe
*.msi
*.vs

# ============== #
# LIBRARIES PACK #
# ============== #